<mat-card>
  <mat-card-header>
    <mat-card-title>Deine Daten</mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="memberData; else noData">
    <mat-card-content>
      <ng-container *ngIf="!isEditing; else MemberDetails">
        <div class="heading-margin">
          <app-member-data [memberDetails]="memberData" [formDisabled]="isEditing"> </app-member-data>
        </div>
      </ng-container>
      <ng-template #MemberDetails>
        <app-member-form [memberData]="MemberDetails"></app-member-form>
        <div class="error-hint" *ngIf="invalidHints">
          <app-error-hint
            [invalidHints]="invalidHints"
            [title]="errorHintTitle"
          ></app-error-hint>
        </div>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <ng-container *ngIf="isEditing; else editButton">
          <button mat-button color="accent" (click)="onSubmit()">
            Anwenden
          </button>
          <button mat-button color="primary" (click)="changeEditMode()">
            Verwerfen
          </button>
        </ng-container>
        <ng-template #editButton>
          <button mat-raised-button color="accent" (click)="changeEditMode()">
            Eigene Daten Bearbeiten
          </button>
        </ng-template>
      </div>
    </mat-card-actions>
  </ng-container>
  <ng-template #noData>
    <mat-card-content>
      <p>
        Deine Daten sind aktuell nicht abrufbar. Versuche es später erneut oder
        benachrichtige einen Administrator.
      </p>
    </mat-card-content>
  </ng-template>
</mat-card>
