/* ==============CC Colors for Angular Material Theme================ */

/* For use in src/lib/core/theming/_palette.scss */
$md-ccblau: (
  50: #e3e8ee,
  100: #bac5d5,
  200: #8c9fba,
  300: #5d789e,
  400: #3b5b89,
  500: #183e74,
  600: #15386c,
  700: #113061,
  800: #0e2857,
  900: #081b44,
  A100: #7a9dff,
  A200: #4777ff,
  A400: #1451ff,
  A700: #0041fa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-ccgruen: (
  50: #e4f1e4,
  100: #bddcbd,
  200: #91c591,
  300: #64ae64,
  400: #439c43,
  500: #228b22,
  600: #1e831e,
  700: #197819,
  800: #146e14,
  900: #0c5b0c,
  A100: #90ff90,
  A200: #5dff5d,
  A400: #2aff2a,
  A700: #10ff10,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warncolor: (
  50: #f0e3ed,
  100: #d9b9d1,
  200: #c08ab2,
  300: #a65b93,
  400: #93377c,
  500: #801465,
  600: #78125d,
  700: #6d0e53,
  800: #630b49,
  900: #500637,
  A100: #ff84d0,
  A200: #ff51bc,
  A400: #ff1ea9,
  A700: #ff049f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
