<h2 mat-dialog-title>Event QR Code</h2>
<mat-dialog-content>
  <p>
    <a [href]="qrCodeURL">QR-Code Link</a>
    <button mat-button (click)="copyLink()" color="primary">Kopieren</button>
  </p>
  <div class="qrcodeImage">
    <qrcode
      #qrElement
      [qrdata]="qrCodeURL"
      [alt]="'An Event QR-Code'"
      [ariaLabel]="'QR Code image for an event'"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'img'"
      [errorCorrectionLevel]="'M'"
      [margin]="2"
      [scale]="1"
      [title]="event.name"
      [width]="400"
    ></qrcode>
    <br />
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="saveAsImage(qrElement)">
    Download
  </button>
  <button mat-button matDialogClose>Schließen</button>
</mat-dialog-actions>
