<h2 mat-dialog-title>Event QR Code</h2>
<mat-dialog-content class="center">
  <div class="qrcodeImage">
    <p>
      <a [href]="qrCodeURL">QR-Code Link</a>
      <button mat-button (click)="copyLink()" color="primary">Kopieren</button>
    </p>
    <qrcode
      #qrElement
      [qrdata]="qrCodeURL"
      [alt]="'A custom alt attribute'"
      [ariaLabel]="'QR Code image with the following content...'"
      [cssClass]="'center'"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'img'"
      [errorCorrectionLevel]="'M'"
      [margin]="4"
      [scale]="1"
      [title]="'A custom title attribute'"
      [width]="200"
    ></qrcode>
    <br />
    <button mat-raised-button color="accent" (click)="saveAsImage(qrElement)">
      Download
    </button>
  </div>
  <div id="formContainer">
  </div>
</mat-dialog-content>
