<ng-container *ngIf="dataSource; else loading">
  <data-table
    #dataTable
    [dataSource]="dataSource"
    [columns]="displayedColumns"
    (onSelectEvent)="onSelect($event)"
    matSort
  >
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let element">{{ element.fistName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Nachname</th>
      <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
    </ng-container>

    <ng-container matColumnDef="currentMemberStatus" mat-sort-header>
      <th mat-header-cell *matHeaderCellDef>Mitgliedsstatus</th>
      <td mat-cell *matCellDef="let element">
        {{ element.currentMemberStatus }}
      </td>
    </ng-container>

    <ng-container matColumnDef="currentCareerLevel" mat-sort-header>
      <th mat-header-cell *matHeaderCellDef>Karriere Stufe</th>
      <td mat-cell *matCellDef="let element">
        {{ element.currentCareerLevel }}
      </td>
    </ng-container>

    <ng-container matColumnDef="currentPositions" mat-sort-header>
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let element">
        <p *ngFor="let item of element.currentPositions" [title]="item.name">{{ item.shortName }}</p>
      </td>
    </ng-container>
  </data-table>
</ng-container>
<ng-template #loading>
  <h2>Mitglieder werden geladen</h2>
  <mat-spinner color="primary"></mat-spinner>
</ng-template>
