table {
  width: 100%;
}

#aboveList {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
}

#create {
  justify-self: flex-end;
}

.position-item {
  margin-bottom: -10px;
  font-size: xx-small;
}

.loading-error {
  color: red;
  font-style: italic;
}