/* ==============Start Angular material Theme================ */

/* ==============CC Colors for Angular Material Theme================ */

/* For use in src/lib/core/theming/_palette.scss */
$md-ccblau: (
  50: #e3e8ee,
  100: #bac5d5,
  200: #8c9fba,
  300: #5d789e,
  400: #3b5b89,
  500: #183e74,
  600: #15386c,
  700: #113061,
  800: #0e2857,
  900: #081b44,
  A100: #7a9dff,
  A200: #4777ff,
  A400: #1451ff,
  A700: #0041fa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-ccgruen: (
  50: #e4f1e4,
  100: #bddcbd,
  200: #91c591,
  300: #64ae64,
  400: #439c43,
  500: #228b22,
  600: #1e831e,
  700: #197819,
  800: #146e14,
  900: #0c5b0c,
  A100: #90ff90,
  A200: #5dff5d,
  A400: #2aff2a,
  A700: #10ff10,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-warncolor: (
  50: #f0e3ed,
  100: #d9b9d1,
  200: #c08ab2,
  300: #a65b93,
  400: #93377c,
  500: #801465,
  600: #78125d,
  700: #6d0e53,
  800: #630b49,
  900: #500637,
  A100: #ff84d0,
  A200: #ff51bc,
  A400: #ff1ea9,
  A700: #ff049f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ClientApp-primary: mat-palette($md-ccblau);
// $ClientApp-secondary: mat-palette($md-ccblau, A100); not working
$ClientApp-accent: mat-palette($md-ccgruen, 500);

// The warn palette is optional (defaults to red).
$ClientApp-warn: mat-palette($md-warncolor);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// secondary: $ClientApp-secondary, not working
$ClientApp-theme: mat-light-theme((
  color: (
    primary: $ClientApp-primary,
    accent: $ClientApp-accent,
    warn: $ClientApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ClientApp-theme);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($ClientApp-primary);
// $secondary: mat-color($ClientApp-secondary);  not working
$accent: mat-color($ClientApp-accent);
$warn: mat-color($ClientApp-warn);


