<header>
  <nav
    class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      bg-white
      border-bottom
      box-shadow
      mb-3
    "
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Member Manager</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <app-login-menu></app-login-menu>
        <span class="spacer"></span>
        <ul class="navbar-nav flex-grow">
          <ng-container
            *ngIf="isAuthenticated"
            class="admin-links"
          ></ng-container>
          <ng-container *ngIf="isAdmin" class="admin-links">
            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/Personal']">
                Mitgliederverwaltung
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/member-status']">
                Status
              </a>
            </li>
            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/position']">
                Posten
              </a>
            </li>
            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/career-level']">
                Karrierestufen
              </a>
            </li>
            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['admin-center']">
                Admin Center
              </a>
            </li>
          </ng-container>
          <li class="nav-item" *ngIf="!isProduction">
            <a class="nav-link text-dark" href="/api" target="_blank">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
