[Unit]
Description=Member Manager running with dotnet core
After=mysql.service

[Service]
WorkingDirectory=/var/www/membermanager
ExecStart=bash ./run-in-docker.sh
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-membermanager

[Install]
WantedBy=default.target
