.example-chip-list {
  width: 100%;
}

.example-button-container > button {
  margin: 0 12px;
}

.event-tags {
  width: 100%;
}

.name {
  width: 100%;
}

#organizer {
  width: 100%;
}

.full-flex {
  display: flex;
}

#date {
  flex-grow: 1;
  width: 50%;
}

#start-time,
#end-time {
  min-width: 22%; // removes std. mat-form width, min value
  flex-grow: 2; // let them grow to fill full line
}

#end-time {
  margin-right: 0px; // same alignment with other Form Fields
}

.dialog-actions {
  float: right;
  margin-top: 16px;
}

mat-form-field {
  margin-bottom: 5px;
}

#delete-button {
  justify-self: left !important;
}
