<h2 mat-dialog-title>{{ description }}</h2>
<mat-dialog-content
  [formGroup]="form"
  fxLayout="column"
  fxLayoutAlign="space-between start"
>
  <mat-form-field appearance="fill" fxFlex>
    <input
      matInput
      placeholder="Deactivation date"
      formControlName="endDateTime"
      type="date"
    />
  </mat-form-field>
  <label class="mat-warn" fxFlex>
    Warning: All current assignements will be ended and future assignements will
    be deleted! You can reactivate the position later.
  </label>
  <app-dialog-error [errors]="errors"></app-dialog-error>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button class="mat-raised-button" fxFlex="nogrow" (click)="close()">
    Cancel
  </button>
  <button
    class="mat-raised-button mat-primary"
    fxFlex="nogrow"
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
