<mat-form-field>
    <input type="text" [placeholder]="placeholder" matInput [(ngModel)]="searchFilter" (blur)="onBlur()" (ngModelChange)="personChanged()" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let suggestion of filteredSuggestions" [value]="suggestion">
        {{suggestion.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<!-- CSS is kinda bad with moving out, but doesn't work if inside the form field :( -->
<mat-error *ngIf="showError">
    Person ist Pflichtfeld
</mat-error>