<h2>Willkommen beim Campus Consult Member Manager</h2>
<section class="userinfo">
  <div>
    <p>
      <ng-container *ngIf="isAuthenticated | async; else unAuthenticated">
        Du bist als
        <a [routerLink]="['/authentication/profile']">{{ userName | async }}</a>
        angemeldet.
      </ng-container>
      <ng-template #unAuthenticated>
        Bitte <a [routerLink]="['/authentication/login']">logge dich ein</a>, um
        die App benutzen zu können!
      </ng-template>
    </p>
  </div>

  <div *ngIf="isAuthenticated | async">
    <app-member-self-managed></app-member-self-managed>
  </div>
</section>
