<table class="table table-borderless table-sm">
  <tbody>
    <ng-container *ngIf="memberDetails; else elseTemplate">
      <tr *ngFor="let item of rowLabels">
        <td class="font-weight-bold" width="200">{{ item }}</td>
        <td colspan="2">
          {{ rowLabelDateMap.get(item) }}
        </td>
      </tr>
    </ng-container>
    <ng-template #elseTemplate>
      <tr *ngFor="let item of rowLabels">
        <td class="font-weight-bold" width="200">{{ item }}</td>
        <td colspan="2">
          <app-skeleton-loader
            [value]="undefined"
            type="line"
          ></app-skeleton-loader>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
