<app-detail-view-wrapper
  *ngIf="memberStatus"
  [title]="memberStatus.name"
  [subTitle]="'Mitgliederstatus'"
  (onEdit)="onEditButtonClicked()"
  (onAssign)="onAssignPersonButtonClicked()"
  (onDismiss)="onDismissPersonButtonClicked()"
  (onShowHistory)="onShowHistoryButtonClicked()"
>
  <table
    *ngIf="memberStatus?.assignees.length > 0"
    mat-table
    id="assigneeTable"
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="since">
      <th mat-header-cell *matHeaderCellDef>Since</th>
      <td mat-cell *matCellDef="let element">
        {{ element.beginDateTime?.toLocaleDateString() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="till">
      <th mat-header-cell *matHeaderCellDef>Till</th>
      <td mat-cell *matCellDef="let element">
        {{ element.endDateTime?.toLocaleDateString() }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</app-detail-view-wrapper>
