<mat-card *ngIf="memberStatus">
  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-card-header fxFlex>
      <mat-icon color="primary" mat-card-avatar>info</mat-icon>
      <mat-card-title>{{memberStatus.name}}</mat-card-title>
      <mat-card-subtitle>Member status</mat-card-subtitle>
    </mat-card-header>

    <mat-button-toggle-group #group="matButtonToggleGroup" fxFlex="nogrow">
      <mat-button-toggle disabled>
        <mat-icon>edit</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="onAssignPersonButtonClicked()">
        <mat-icon>person_add</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="onDismissPersonButtonClicked()" [disabled]="memberStatus?.assignees.length == 0">
        <mat-icon>person_remove</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="onShowHistoryButtonClicked()">
        <mat-icon>history</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-card-content>
    <table *ngIf="memberStatus?.assignees.length > 0" mat-table id="assigneeTable" [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="since">
        <th mat-header-cell *matHeaderCellDef>Since</th>
        <td mat-cell *matCellDef="let element">{{ element.beginDateTime?.toLocaleDateString() }}</td>
      </ng-container>

      <ng-container matColumnDef="till">
        <th mat-header-cell *matHeaderCellDef>Till</th>
        <td mat-cell *matCellDef="let element">{{ element.endDateTime?.toLocaleDateString() }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

  </mat-card-content>
</mat-card>


