@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-Bold.woff2') format('woff2'), url('titillium_web/TitilliumWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-BoldItalic.woff2') format('woff2'), url('titillium_web/TitilliumWeb-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-Black.woff2') format('woff2'), url('titillium_web/TitilliumWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-ExtraLight.woff2') format('woff2'), url('titillium_web/TitilliumWeb-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-Italic.woff2') format('woff2'), url('titillium_web/TitilliumWeb-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-Light.woff2') format('woff2'), url('titillium_web/TitilliumWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-ExtraLightItalic.woff2') format('woff2'), url('titillium_web/TitilliumWeb-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-LightItalic.woff2') format('woff2'), url('titillium_web/TitilliumWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-SemiBoldItalic.woff2') format('woff2'), url('titillium_web/TitilliumWeb-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-SemiBold.woff2') format('woff2'), url('titillium_web/TitilliumWeb-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('titillium_web/TitilliumWeb-Regular.woff2') format('woff2'), url('titillium_web/TitilliumWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

