$table-width: 60%;

.table-part {
    width: $table-width;
    justify-self: flex-start;
  }

.detail-view {
    width: 100% - $table-width;
    justify-self: flex-end;
    margin-left: 15px; // padding from div in highest hierachie 
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}