<h2>Personal List</h2>
<div class="flex-container">
  <app-person-list
    class="table-part"
    [personalData]="personalTableData"
    (detailEvent)="changeDisplayedPerson($event)"
    (refreshEvent)="doRefresh()"
    (createNewEvent)="createPerson()"
  ></app-person-list>
  <div class="right-section">
    <ng-container *ngIf="isEditingMember; else details">
      <app-edit-pesonal-data
        #edit
        [memberdata]="selectedPerson"
        (completionEvent)="isEditingMember = false"
      ></app-edit-pesonal-data>
    </ng-container>
    <ng-container *ngIf="isCreatingMember; else details">
      <app-create-person
        #create
        (completionEvent)="isEditingMember = false"
      ></app-create-person>
    </ng-container>
    <ng-template #details>
      <app-person-details
        [personTabledDTO]="selectedPerson"
      ></app-person-details>
    </ng-template>
  </div>
</div>
