<mat-accordion>
    <app-history-expansion
      [title]="'Mitglieds-Status'"
      [panelDescription]="''"
      [historyData]="memberStateHistory"
    ></app-history-expansion>
    <app-history-expansion
      [title]="'Karriere-Level'"
      [panelDescription]="''"
      [historyData]="careerLevelHistory"
    ></app-history-expansion>
    <app-history-expansion
      [title]="'Posten'"
      [panelDescription]="''"
      [historyData]="positionsHistory"
    ></app-history-expansion>
  </mat-accordion>
